@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background-color: #FFEFD5;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.banner{
	position: relative;
	width: 1600px;
}

.image{
	display: flex;
	overflow-x: scroll;
	border: 1px solid #999;
}

.image img{
	width: 800px;
	height: 500px;
	flex-shrink: 0;
}

.sphere{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #d3d3d3;
	margin-right: 10px;
}

.sphere.active{
	background-color: blue;
}

.spheres{
	position: absolute;
	left: 50%;
	bottom: 15px;
	transform: translateX(-50%);
	display: flex;
	gap: 10px;
}

.corona{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 800px;
	margin: 0 auto;
}

.puldown{
	background-color: #FFC7AF;
	display: block;
	width: 300px;
	text-align: center;
	margin: 10px auto;
}

.puldown_content{
	display: none;
	padding: 10px;
}

.introduction{
	width: 1000px;
	margin: 50px auto;
}

.signature_food{
	display: flex;
	gap: 30px;
	align-items: center;
}

.signature_food img{
	width: 400px;
	height: auto;
	border-radius: 8px;
}

.food_text{
	flex: 1;
}

.food_text{
	line-height: 1.8;
}
